/*The css file*/

:root {
  font-size: 16px;
}

body,
html {
  font-size: 1em;
  margin: 0;
  height: 100%;
}

.bg {
  
  max-width: 40em;
  max-height: 30em;
}


/*Chat Inbox*/

.chats {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.chats:hover {
  background-color: #aaaaaa;
  cursor: pointer;
}

p .chatInboxTime {
  float: right;
  font-weight: normal;
  font-size: 0.9em;
}

.read-contact,
.read-message,
 {
  font-weight: normal;
}

.unread-contact,
.unread-message {
  font-weight: bold;
}

.chatInboxmessage {
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge-right {
  float: right;
}


/*Chat Window*/
.chatWindow {
  margin-top: 2px;
  padding: 2px;
}

.message,
.chatWindContactName,
.chatWindLastSeen,
.chatWindmessage,
.chatWindLastSeen {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatWindContactName {
  max-width: 300px;
}


.chats-chatWindow {
  margin-top: 2px;
}


/*Chat Window Navbar part*/
.chatWindowNav {
  float: right;
}
/*Chat Window Navbar part*/
#chatwith {
  font-style: italic;
}
.navlinkName{
  display: none;  
}


.info {
  text-align: center;
  font: 1em;
  font-weight: bold;
}

.chatBackground {
  min-height: 500px;
  background: #efe7dd url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg") repeat;
  height: 100%;
}

.textbox {
  width: 30em;
}

.chatTools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
}

.form-rounded {
  border-radius: 1rem;
}

/*Chat Bubble*/

.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.talktext>p:last-of-type,
#chatWindTimeMe {
  font-size: 0.8em;
  text-align: right;
  width: 100%;
  margin-bottom: -7px;
  margin-top: auto;
}

.tick {
  font-size: 0.8em;
  text-align: right;
  width: 20%;
  margin-bottom: -7px;
  margin-top: auto;
}

.talk-bubble {
  margin: 1em;
  display: inline-block;
  position: absolute;
  max-width: 60%;
  left: 3%;
  top: 70%;
  height: auto;
  background-color: white;
}

.talk-bubble-me {
  margin: 1em;
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 3%;
  max-width: 60%;
  top: 40%;
  height: auto;
  background-color: #e1ffc7;
}

.day {
  display: flex;
}

.blue-bubble {
  text-align: center;
  left: 45%;
  background-color: #E1F3FB;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  position: relative;
  font-weight: normal;
  top: 175px;
}

.newMessage {
  display: flex;
}

.yellow-bubble {
  text-align: center;
  background-color: #EEEEEE;
  border-radius: 5px;
  padding: 5px;
  font-weight: normal;
  display: inline-block;
  position: relative;
  top: 250px;
  width: 100%;
}

.inner-circle {
  padding: 5px;
  border-radius: 5px;
  background-color: #7ce06e;
}

.border {
  border: 8px solid #666;
}

.round {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

/* Right triangle placed top left flush. */

.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}

.tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: white transparent transparent transparent;
}

/* Right triangle, right side slightly down*/

.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 0%;
  bottom: auto;
  border: 20px solid;
  border-color: #e1ffc7 transparent transparent #e1ffc7;
}

.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 12px solid;
  border-color: #e1ffc7 transparent transparent #e1ffc7;
}

.GroupContactname {
  color: #37a020;
}

.circle {
  display: flex;
  background-color: #008a7c;
  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.chatTools>div {
  text-align: center;
}


/*Profile Section*/
.nav-background {
  background-color: #00BFA5;
  min-height: 40%;
}

.profile-name-label,
.profile-about-label {
  color: #00BFA5;
}

.profilePicture {
  margin-top: 20px;
  margin-left: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  transition: .5s ease;
  backface-visibility: hidden;
}

.Contactname .unread-contact {
  font-weight: bold;
}

.Contactname .read-contact {
  font-weight: normal;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-130%, -10%);
  -ms-transform: translate(-130%, -130%);
  text-align: center;
}

.profilePicture:hover .image {
  opacity: 0.2;
}

.profilePicture:hover .middle {
  opacity: 1;
}

a:hover {
  text-decoration: none;
}

.text_on_photo {
  color: black;
  font-size: 1rem;
}

.icon-name {
  display: none;
}


@media only screen and (max-width: 768px) {
  .profilePicture {
    margin-left: 5em;
  }
  .chatWindLastSeen {
    max-width: 200px;
  }
  .talk-bubble {
    left: 5%;
    top: 70%;
  }
  .talk-bubble-me {
    right: 5%;
  }
  .textbox {
    width: 30em;
  }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.9em;
  }
  .navlinkName{
    display: inline-block;
  }
  .profilePicture {
    margin-left: 5em;
  }
  .chatWindLastSeen {
    max-width: 200px;
  }
  .talk-bubble {
    left: 5%;
    top: 70%;
  }
  .talk-bubble-me {
    right: 5%;
  }
  .textbox {
    width: 22em;
  }
  .info {
    font-size: 0.8em;
  }
  .icon-name {
    display: inline-block;
  }
}